* {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5%;
  padding-left: 10;

  font-family: Arial, sans-serif;
}





body{background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
}


h1 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  background-color: rgb(246, 246, 242);
}

.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  padding: 0.875rem 1.5rem;
  text-decoration: none;
  transition: all 250ms;
  width: auto;
  height: 11px;
  box-shadow: inset 0 0 0 3px #ffffff,
              0 0 0 4px #005eff,
              3px -3px 30px #88bdfa,
              -3px 3px 30px #c8f1f7;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}




.button-17 {
align-items: center;
appearance: none;
background-color: #fff;
border-radius: 24px;
border-style: none;
box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
box-sizing: border-box;
color: #000000;
cursor: pointer;
display: inline-flex;
fill: currentcolor;
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: 14px;
font-weight: 500;
height: 48px;
justify-content: center;
letter-spacing: .25px;
line-height: normal;
max-width: 100%;
overflow: visible;
padding: 2px 24px;
position: relative;
text-align: center;
text-transform: none;
transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: auto;
will-change: transform,opacity;
z-index: 0;
}

.button-17:hover {
background: #F6F9FE;
color: #174ea6;
}

.button-17:active {
box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
outline: none;
}

.button-17:focus {
outline: none;
border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}




 .button-22 {
  background-color: #000000;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  padding: 10px 21px;
  text-align: center;
  transition: background-color 0.13s ease-in-out;
}

.button-22:hover {
  background-color: #000000;
}

.button-22:active {
  background-color: #000000;
}

.input {
  position: relative;
  font-size: 1.2em;
  background: linear-gradient(21deg, #114759, #268aa1);
  padding: 4.5px;
  display: inline-block;
  border-radius: 50px;
  margin-bottom: 10px;
}

.input input {
  position: relative;
  border-radius: inherit;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 1em;
}

.input input:focus + span {
  opacity: 1;
  transform: scale(1);
}

.input span {
  transition: transform 0.5s, opacity 0.25s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #fff,
              0 0 0 4px #fff,
              3px -3px 30px #000000,
              -3px 3px 30px #070707;
}
 


